

<div  class = "text-right ">
	<span class="searchField"> Search:</span> <input type="text" ng-model="searchedDatas" > <!-- used this function before ng-keyup = "updateTableData()" -->
</div>

<div class="tableSize">
	<table class="table table-striped  text-primary">
		<thead class="thead-light changeCursor">
			<tr>
				<th scope="col" >Index</th>
				<th scope="col" ng-model = "title" ng-click ="setNameAsReferenceVar()">Name &uarr;&darr;</th>
				<th scope="col" ng-click ="setPriceAsReferenceVar()">Price &uarr;&darr;</th>
				<th scope="col" ng-click ="setVolumeAsReferenceVar()">Volume (24 hr) &uarr;&darr;</th>
				<th scope="col" ng-click ="set1hrAsReferenceVar()">% Change (1hr)&uarr;&darr;</th>
				<th scope="col" ng-click ="set24hrAsReferenceVar()">% Change (24hr)&uarr;&darr;</th>
				<th scope="col" ng-click ="set7daysAsReferenceVar()">% Change (7 days)&uarr;&darr;</th>
			</tr>
		</thead>

		<tbody>
			<tr class = 'tableBody' ng-repeat= "values in dataArray | filter:searchedDatas | orderBy: referenceVar">
				<td scope="col">{{$index+1}}</td>
				<td scope="col">{{values.name}}</td>
				<td scope="col">{{values.price | currency}}</td> <!--currency filter -->
				<td scope="col">{{values.volume_24h}}</td>
				<td scope="col">{{values.percent_change_1h}}</td>
				<td scope="col">{{values.percent_change_24h}}</td>
				<td scope="col">{{values.percent_change_7d}}</td>
			</tr>
		</tbody>
		

	</table>
</div> <br>
<div class="processedTime" align = "right">{{currentTime}}</div>
<br><br>


<!-- <label for="arrangeOption" class="ml-3  text-info">Arrange By:</label>
  <select ng-options="option for option in arrangeOptions.optionTypes" 
            ng-model="arrangeOptions.defaultValue"
            id = 'arrangeOption'
            ng-change="reArrangeTable()">
   </select> -->